Repository SylphxAI/doctor: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bunx biome format --write {staged_files}
  stage_fixed: true
  skip_empty: true

lint:
  run: bunx biome check {staged_files}
  skip_empty: true

refactor(deps): split banned package checks by category
  src/checks/build.ts
  src/checks/deps.ts
  src/checks/format.ts
  src/checks/hooks.ts
  src/checks/runtime.ts
  src/checks/test.ts
  src/presets/index.ts
Due: format, lint

refactor(deps): move package manager check to runtime category
  src/checks/deps.ts
  src/checks/runtime.ts
  src/presets/index.ts
Due: format, lint

refactor(deps): move shared config dep checks to config category
  src/checks/config.ts
  src/checks/deps.ts
  src/presets/index.ts
Due: format, lint

feat(checks): add hooks/doctor-dep and release/bump-dep checks
  bun.lock
  package.json
  src/checks/hooks.ts
  src/checks/release.ts
  src/presets/index.ts
Due: format, lint

feat(credits): add credits check and CLI footer for @sylphx packages
  src/checks/credits.ts
  src/checks/index.ts
  src/presets/index.ts
  src/reporter.ts
Due: format, lint

refactor(credits): split into has-section and mentions-packages checks
  src/checks/credits.ts
  src/presets/index.ts
Due: format, lint

fix(release): align release commit detection with @sylphx/bump
  src/checks/release.ts
Due: format, lint

fix(release): allow release commits on bump/release branch
  src/checks/release.ts
Due: format, lint

fix(hooks): add --no-errors-on-unmatched to biome commands
  CHANGELOG.md
  lefthook.yml
  package.json
Due: format

refactor(checks): remove cleanup module, distribute checks to categories
  src/checks/cleanup.ts
  src/checks/config.ts
  src/checks/format.ts
  src/checks/index.ts
  src/checks/release.ts
  src/checks/test.ts
  src/presets/index.ts
Due: format, lint

test(presets): add completeness check for checks ↔ presets sync
  src/presets/index.test.ts
Due: format, lint

fix(monorepo): clarify workspace protocol check description
  src/checks/monorepo.ts
Due: format, lint

feat(monorepo): split workspace protocol checks
  src/checks/monorepo.ts
  src/presets/index.ts
Due: format, lint

feat(release): make prepublishOnly chainable with &&
  src/checks/release.ts
Due: format, lint

refactor: modular hooks with commit/push/prepublish commands
  lefthook.yml
  src/checks/format.ts
  src/cli.ts
  src/guards.ts
  src/info.ts
  src/presets/index.ts
  src/types.ts
Due: format, lint

feat: add --stage flag to filter checks by hook (commit/push)
  src/checks/define.ts
  src/checks/format.ts
  src/checks/test.ts
  src/cli.ts
  src/index.ts
  src/runner.ts
  src/types.ts
Due: format, lint

fix: remove deprecated build-command input
  .github/workflows/release.yml
Due: none

feat: add workflow_dispatch trigger for release
  .github/workflows/release.yml
Due: none

fix: add permissions for release workflow
  .github/workflows/release.yml
Due: none

fix: use bump action directly instead of reusable workflow
  .github/workflows/release.yml
Due: none

fix: restore reusable workflow
  .github/workflows/release.yml
Due: none

fix: add build to prepublishOnly
  package.json
Due: format

refactor: separate prepack (build) and prepublishOnly (guard)
  package.json
Due: format

refactor: modularize hook system with unified HookName type
  lefthook.yml
  src/checks/define.ts
  src/checks/format.ts
  src/checks/test.ts
  src/cli.ts
  src/guards.ts
  src/hooks.ts
  src/index.ts
  src/info.ts
  src/runner.ts
  src/types.ts
Due: format, lint

feat(info): add bump release workflow hints on prepush
  src/info.ts
Due: format, lint

feat: upgrade to biome 2.x and add biome-config dep
  .claude/settings.json
  biome.json
  bun.lock
  package.json
  src/checks/build.ts
  src/checks/config.ts
  src/checks/credits.ts
  src/checks/index.ts
  src/checks/package.ts
  src/checks/test.ts
  src/index.ts
  src/presets/index.test.ts
  src/utils/fs.ts
  src/utils/index.ts
  turbo.json
Due: format, lint

fix(checks): read package.json fresh from disk for dep checks
  src/checks/config.ts
Due: format, lint

fix(checks): read package.json fresh from disk for all dep checks
  package.json
  src/checks/build.ts
  src/checks/format.ts
  src/checks/hooks.ts
  src/checks/monorepo.ts
  src/checks/release.ts
Due: format, lint

fix(checks): read package.json fresh for bun remove checks
  package.json
  src/checks/build.ts
  src/checks/format.ts
  src/checks/hooks.ts
  src/checks/release.ts
  src/checks/runtime.ts
  src/checks/test.ts
Due: format, lint

refactor: code cleanup and add unit tests
  package.json
  src/checks/define.test.ts
  src/checks/deps.ts
  src/checks/package.ts
  src/runner.test.ts
  src/runner.ts
  src/utils/context.test.ts
  src/utils/fs.ts
Due: format, lint

feat(hooks): add lefthook-prepare check for CI-safe prepare script
  package.json
  src/checks/hooks.ts
  src/presets/index.ts
  src/utils/fs.ts
Due: format, lint

refactor(checks): make tooling suggestions contextual instead of prescriptive
  src/checks/build.ts
  src/checks/format.ts
  src/presets/index.ts
Due: format, lint

fix(checks): correct contextual check logic
  src/checks/build.ts
  src/checks/format.ts
  src/presets/index.ts
Due: format, lint

fix(build): also detect "bun build" as legacy bundler
  src/checks/build.ts
Due: format, lint

refactor(hooks): doctor manages all git hooks
  src/checks/format.ts
  src/checks/hooks.ts
  src/cli.ts
Due: format, lint

chore: update lefthook.yml to use doctor-only hooks
  lefthook.yml
Due: none

feat(info): add squash merge reminder for release PRs
  .claude/settings.json
  src/info.ts
Due: format, lint

feat(checks): add build/esm-only check
  README.md
  src/checks/build.ts
  src/presets/index.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,jsx,tsx,json,md}
  lint: any of: *.{js,ts,jsx,tsx}
